#
# This file has mapping between semaphores files and
# sound files. When given file presence will be detected
# in 'semaphores_path' then phone-notifier will trigger
# VoIP call and play corresponding wav file
# Lines with # or ; are comments. '=' is separator between
# fields.

zm_started_call           = ZM-Started.wav
zm_stoped_call            = ZM-Stoped.wav
zm_failed_call            = ZM-Failed.wav
zm_alarm_call             = ZM-Alarm-Salon.wav
s.m.a.r.t_alarm_call      = Alarm-SMART.wav
test_call                 = Test-Call.wav
