#
# Main config file for phone notifier.
# Lines with # or ; are comments. '=' is separator between
# fields.

phone             = sip:<phone_num>@<sip_provider_url>
sip_registrar     = <sip registrar>
user              = <sip account>
password          = <sip acc.pass>
sip_proxy         =
bound_address     = <intf on which script communicates>
rtp_port          = 10000
semaphores_path   = /tmp/
sound_files_path  = /usr/share/phone-notifier
playback_duration = 15
deaf_time_duration= 90
